thead, nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

td form,
td button {
  display: inline-block;
}

#course_code, #college_code {
  max-height: 100px;
  overflow: auto;
}