{% extends "layout.html" %}
{% block content1 %}
<title>Add Course</title>
{% endblock %}
{% block toggle %}
<div class="collapse navbar-collapse btn btn-primary btn-block" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/students" style="font-weight: bold;">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/colleges">Colleges</a>
      </li>
    </ul>
  </div>
{% endblock %}
{% block content2 %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10" style="overflow: auto;">
            <h1 class="text-center" style="padding: 10px;">Add Student</h1>
            <form method="POST" class="form-control">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="student_id">Student ID</label>
                    <input type="text" class="form-control" id="student_id" name="student_id" required>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                </div>
                <div class="form-group">
                    <label for="course_code">Course Code</label>
                    <input type="text" class="form-control" id="course_code" name="course_code" required>
                </div>
                <div class="form-group">
                    <label for="year_level">Year Level</label>
                    <input type="int" class="form-control" id="year_level" name="year_level" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" class="form-control" id="gender" name="gender" required>
                </div> <br>
                <button type="submit" class="btn btn-primary col-md-12">Add Student</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}
