{% extends "layout.html" %}
{% block content1 %}
  <title>Colleges</title>
{% endblock %}
{% block toggle %}
<div class="collapse navbar-collapse btn btn-warning btn-block" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/students">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/courses">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/colleges" style="font-weight: bold;">Colleges</a>
    </li>
  </ul>
</div>
{% endblock %}
{% block content2%}
<div class="container" style = "padding-top: 10px;">
  <h1 class="text-center" style="padding: 10px;">Colleges List</h1>
  <div class="row">
      <div class="col-md-10">
        <form method="POST" action="/colleges/search">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="input-group mb-3">
              <input type="text" class="form-control col-md-10" name="collegesearch" placeholder="Search College">
              <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Search</button>
              </div>
          </div>
        </form>
      </div>
      <div class="col-md-2">
          <a class="btn btn-success col-md-12" href="/add_college">Add</a>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col">
          <div id="collegesTableDiv" style="max-height: 400px; overflow: auto;">
              <table class="table table-condensed text-center">
                  <thead>
                      <tr>
                          <th>College Code</th>
                          <th>College Name</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for college in colleges %}
                    <tr>
                        <td>{{ college.collegecode }}</td>
                        <td>{{ college.collegename }}</td>
                        <td>
                          <form method="get" action="/edit_college">
                            <input type="hidden" name="college_code" value="{{ college.collegecode }}">
                            <input type="hidden" name="college_name" value="{{ college.collegename }}">
                            <button class="btn btn-warning btn-sm" type="submit">Edit</button>
                          </form>
                          <button class="btn btn-danger btn-sm" college-code="{{ college.collegecode }}" csrf-token="{{ csrf_token() }}" onclick="confirmDeleteCollege(this)">Delete</button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}