{% extends "layout.html" %}
{% set curr_tab = "colleges" %}
{% block content1 %}
<title>Edit College</title>
{% endblock %}
{% block content2 %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center" style="padding: 10px;">Edit College</h1>
            <form method="POST" class="form-control">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="college_code">College Code</label>
                    <input type="text" class="form-control" id="college_code" name="college_code" value="{{college_code}}" disabled required>
                    <input name="college_code" value="{{college_code}}" hidden>
                <div class="form-group">
                    <label for="college_name">College Name</label>
                    <input type="text" class="form-control" id="college_name" name="college_name" value="{{college_name}}" required>
                </div> <br>
                <button type="submit" class="btn btn-primary col-md-12">Update College</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}
