{% extends "layout.html" %}
{% set curr_tab = "students" %}
{% block content1 %}
  <title>Students</title>
{% endblock %}
{% block content2 %}
<div class="container" style = "padding-top: 10px;">
  <h1 class="text-center" style="padding: 10px;">Students List</h1>
  <div class="row">
    <div class="col-md-10">
      <form method="POST" action="/students/search"> 
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="input-group mb-3">
            <input type="text" class="form-control col-md-10" name="studentsearch" placeholder="Search Student" value="{{ search_query }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
      </form>
    </div>
    <div class="col-md-2">
        <a class="btn btn-success col-md-12" href="/add_student">Add</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col">
          <div id="studentTableDiv" style="max-height: 400px; overflow: auto;">
              <table class="table table-condensed text-center">
                  <thead>
                      <tr>
                          <th></th>
                          <th>ID Number</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Course</th>
                          <th>Year</th>
                          <th>Gender</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% if students | length == 0 %}
                    <tr>
                      <p> No student found. </p>
                    </tr>
                    {% else %}
                      {% for student in students %}
                        <tr>
                          <td> <a href="/view_student/{{student.id}}"> <img id="student_image" src="{{ student.image_url or "https://res.cloudinary.com/dulew9heh/image/upload/v1701248545/image_nahubr.jpg" }}" alt="{{ student.id }}"> </a> </td>
                          <td>{{ student.id }}</td>
                          <td>{{ student.firstname }}</td>
                          <td>{{ student.lastname }}</td>
                          <td>{{ student.coursecode }}</td>
                          <td>{{ student.yearlevel }}</td>
                          <td>{{ student.gender }}</td>
                          <td>
                            <a href="{{ url_for('students.edit_student', id = student.id) }}" class="btn btn-warning btn-sm" type="submit">Edit</a>
                            <a class="btn btn-danger btn-sm" student-id="{{ student.id }}" csrf-token="{{ csrf_token() }}" onclick="confirmDeleteStudent(this)">Delete</a>
                          </td>
                        </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}