{% extends "layout.html" %}
{% block content1 %}
  <title>Students | Student Information System</title>
{% endblock %}
{% block toggle %}
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/students" style="font-weight: bold;">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/courses">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/colleges">Colleges</a>
    </li>
  </ul>
</div>
{% endblock %}