{% extends "layout.html" %}
{% block content1 %}
  <title>Students</title>
{% endblock %}
{% block toggle %}
<div class="collapse navbar-collapse btn btn-primary btn-block" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/students" style="font-weight: bold;">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/courses">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/colleges">Colleges</a>
    </li>
  </ul>
</div>
{% endblock %}
{% block content2 %}
<div class="container" style = "padding-top: 10px;">
  <h1 class="text-center" style="padding: 10px;">Students List</h1>
  <div class="row">
    <div class="col-md-10">
      <form method="POST" action="/students/search"> 
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="input-group mb-3">
            <input type="text" class="form-control col-md-10" name="studentsearch" placeholder="Search Student" value="{{ search_query }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
      </form>
    </div>
    <div class="col-md-2">
        <a class="btn btn-success col-md-12" href="/add_student">Add</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col">
          <div id="studentTableDiv" style="max-height: 400px; overflow: auto;">
              <table class="table table-condensed text-center">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Course</th>
                          <th>Year</th>
                          <th>Gender</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% if students | length == 0 %}
                    <tr>
                      <p> No student found </p>
                    </tr>
                    {% else %}
                      {% for student in students %}
                        <tr>
                          <td><a href="/view_student/{{student.id}}">{{ student.id }}</a></td>
                          <td>{{ student.firstname }}</td>
                          <td>{{ student.lastname }}</td>
                          <td>{{ student.coursecode }}</td>
                          <td>{{ student.yearlevel }}</td>
                          <td>{{ student.gender }}</td>
                          <td>
                            <form action="/edit_student" method="get">
                              <input type="hidden" name="student_id" value="{{ student.id }}">
                              <input type="hidden" name="first_name" value="{{ student.firstname }}">
                              <input type="hidden" name="last_name" value="{{ student.lastname }}">
                              <input type="hidden" name="course_code" value="{{ student.coursecode }}">
                              <input type="hidden" name="year_level" value="{{ student.yearlevel }}">
                              <input type="hidden" name="gender" value="{{ student.gender }}">
                              <button class="btn btn-warning btn-sm" type="submit">Edit</button>
                            </form>
                            <button class="btn btn-danger btn-sm" student-id="{{ student.id }}" csrf-token="{{ csrf_token() }}" onclick="confirmDeleteStudent(this)">Delete</button>
                          </td>
                        </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}